:root {
	--remotion-font: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, 
	'Segoe UI',
	Roboto,
	Helvetica,
	Arial,
	sans-serif,
	'Apple Color Emoji',
	'Segoe UI Emoji';
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	color: white;
	background-color: black;
	font-family: var(--remotion-font);
}